.explore-container {
  width: 100%;
  height: 1000px;
  background-color: var(--surface-warm);
  position: relative;
  overflow: hidden;
}
.explore-randomdiv1{
    position: absolute;
    left: 5%;
    top:10%
}
.explore-randomtext1{
    color: var(--accent-orange);
    font-size:20px;
    margin-bottom: 10px;
}
.explore-randomtext2{
    font-size:80px;
    font-weight:500;
    letter-spacing: -5px;
    line-height:1;
}
.explorecard-alt{
    width: 440px;
  height: 640px;
position: absolute;
top: 15%;
left: 40%;
background-color: #ab8a6ac9;
  border-radius: 0px 20px 0px 20px;
  clip-path: polygon(
    90px 0%,
    calc(100% - 20px) 0%,
    100% 0px,
    100% calc(100% - 90px),
    calc(100% - 90px) 100%,
    0px 100%,
    0% calc(100% - 20px),
    0% 90px
  );
}
.imgcardbox5{

width: 440px;
height: 640px;
  background-size: cover;
    margin-top: 50px;
    background-repeat: no-repeat;
}
